<div class="header">
  <a class="waves-effect waves-light btn" href ="/">home</a>
  <a class="waves-effect waves-light btn" href ="/login">login</a>
  <a class="waves-effect waves-light btn" href = "/users/new">new user</a>
</div>

