<div class="container">

<p><%= session[:id] %></p>
  <div class="matchday">

    <p>June 5, 2002</p>
    <h4>United States 3 Portugal 2</h4>
    <h5>Suwon World Cup Stadium</h5>

  </div>

  <div class= "divider">
  </div>

  <div class="posts">

    <div class="blue lighten-5">
      <article>I well remember this match. It took place at 2:30 in the morning Eastern Time. I lived with my then-wife and I set an alarm to get up.
      </article>
      </div>
      <div class= "post_divider">
      </div>

      <p class="author">posted by Michael</p>


</div>

  <div class="posts">
    <div class="blue lighten-5">
    <article>There was a bar near us that stayed open all night and I watched it there.
    </article>
    </div>
    <div class= "post_divider">
    </div>

    <p>posted by Jim</p>


  </div>

</div>