<div class="container">
  <div class="row login blue lighten-5  z-depth-2">
    <form method="post" action="/users">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" class="btn waves-effect waves-light" value="Become new user">
    </form>
  </div>
</div>




