<div class="container">

  <div class="profile_matchday">

    <p>June 5, 2002</p>
    <h4>United States 3 Portugal 2</h4>
    <h5>Suwon World Cup Stadium</h5>

  </div>

    <div class= "divider">
    </div>

      <div class="posts">

        <div class="blue lighten-5">
          <article>I well remember this match. It took place at 2:30 in the morning Eastern Time. I lived with my then-wife and I set an alarm to get up.
          </article>
      </div>
          <div class= "post_divider">
          </div>

  </div>


  <div class="profile_matchday">

    <p>June 23, 2010</p>
    <h4>United States 1 Algeria 0</h4>
    <h5>Loftus Versfeld Stadium</h5>

  </div>

    <div class= "divider">
    </div>

      <div class="posts">

        <div class="blue lighten-5">
          <article>I watched the game at my office. It was in the afternoon
          </article>
        </div>
          <div class= "post_divider">
          </div>

        </div>

          <div ="new post">
              <a href ="/posts/new">New Post</a>
          </div>


</div>